.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.formLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.formLabel h3 {
    margin-bottom: 5px;
}